*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:url(20210902_210155.jpg);
    background-position:center;
    background-size:cover;
    position:relative;
}


.text-box{
    width:90%;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

@media(max-width:720px){

    .header{
        background-image:url(4907157.jpg);
    }
    
    .text-box h1{
        font-size: 40px;
    }
    .text-box p{
        color: black;
    }
    .text-box a{
        color: black;
    }
iframe {
    /* override other styles to make responsive */
    width: 100%    !important;
    height: 280px   !important;
  }
}
.destinations{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    color: rgb(44, 88, 184);
}
p{
    color: rgb(2, 21, 21);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.destination-col{
    flex-basis: 31%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
    box-shadow: 0 0 20px 0px rgba(37, 19, 43, 0.637);
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: rgb(9, 26, 31);
}

@media(max-width:720px){
    .row{
        flex-direction: column;
    }
}
.footer{
    width: 100%;
    text-align: center;
    padding: 10px;
    background: rgb(44, 88, 184);
    top: 10px;

}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);

}
.footer p{
    color: rgb(255, 255, 255);
}
